
:root {
	/* try increasing if you encounter problems */
	--urlbar-height-setting: 24px;
	--tab-min-height: 24px !important;

	/* I don't recommend you touch this unless you know what you're doing */
	--arrowpanel-menuitem-padding: 2px !important;
	--arrowpanel-border-radius: 0px !important;
	--arrowpanel-menuitem-border-radius: 0px !important;
	--toolbarbutton-border-radius: 0px !important;
	--toolbarbutton-inner-padding: 0px 2px !important;
	--toolbar-field-focus-background-color: var(--urlbar-focused-bg-color) !important;
	--toolbar-field-background-color: var(--urlbar-not-focused-bg-color) !important;
	--toolbar-field-focus-border-color: transparent !important;
}

/* --- GENERAL DEBLOAT ---------------------------------- */

/* Bottom left page loading status or url preview */
#statuspanel { display: none !important; }

/* Hide dropdown that appears when you type in search bar */
.autocomplete-history-popup, panel[type=autocomplete-richlistbox], panel[type=autocomplete] {
	display: none !important;
}

/* remove radius from right-click popup */
menupopup, panel { --panel-border-radius: 0px !important; }
menu, menuitem, menucaption { border-radius: 0px !important; }

/* no stupid large buttons in right-click menu */
menupopup > #context-navigation { display: none !important; }
menupopup > #context-sep-navigation { display: none !important; }

/* --- DEBLOAT NAVBAR ----------------------------------- */

#back-button { display: none; }
#forward-button { display: none; }
#reload-button { display: none; }
#stop-button { display: none; }
#home-button { display: none; }
#library-button { display: none; }
#fxa-toolbar-menu-button { display: none; }
/* empty space before and after the url bar */
#customizableui-special-spring1, #customizableui-special-spring2 { display: none; }

/* --- STYLE NAVBAR ------------------------------------ */

/* remove padding between toolbar buttons */
toolbar .toolbarbutton-1 { padding: 0 0 !important; }

/* add padding to the right of the last button so that it doesn't touch the edge of the window */
#PanelUI-menu-button {
	padding: 0px 4px 0px 0px !important;
}

#urlbar-container {
	--urlbar-container-height: var(--urlbar-height-setting) !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	font-size: 14px;
}

#urlbar {
	--urlbar-height: var(--urlbar-height-setting) !important;
	--urlbar-toolbar-height: var(--urlbar-height-setting) !important;
	min-height: var(--urlbar-height-setting) !important;
	border-color: var(--lwt-toolbar-field-border-color, hsla(240,5%,5%,.25)) !important;
}

#urlbar-input {
	margin-left: 0.8em !important;
	margin-right: 0.4em !important;
}

#navigator-toolbox {
	border: none !important;
}

/* keep pop-up menus from overlapping with navbar */
#widget-overflow { margin: 0 !important; }
#appMenu-popup { margin: 0 !important; }
#customizationui-widget-panel { margin: 0 !important; }
#unified-extensions-panel { margin: 0 !important; }

/* --- UNIFIED EXTENSIONS BUTTON ------------------------ */

/* make extension icons smaller */
#unified-extensions-view {
	--uei-icon-size: 16px;
}

/* hide bloat */
.unified-extensions-item-message-deck,
#unified-extensions-view > .panel-header,
#unified-extensions-view > toolbarseparator,
#unified-extensions-manage-extensions {
	display: none !important;
}

/* reduce padding between the menu items */
#unified-extensions-view > vbox > vbox > .unified-extensions-item { padding-block: 0px !important; }
.unified-extensions-item-menu-button.subviewbutton { padding: 2px !important; }

/* add 3px padding on the top and the bottom of the box */
.panel-subview-body {
	padding: 3px 0px !important;
}

/* --- DEBLOAT URLBAR ----------------------------------- */

#identity-box { display: none; }
#pageActionButton { display: none; }
#pocket-button { display: none; }
#urlbar-zoom-button { display: none; }
#tracking-protection-icon-container { display: none !important; }
#reader-mode-button{ display: none !important; }
#star-button { display: none; }
#star-button-box:hover { background: inherit !important; }

/* Go to arrow button at the end of the urlbar when searching */
#urlbar-go-button { display: none; }

/* remove container indicator from urlbar */
#userContext-label, #userContext-indicator { display: none !important;}

/* --- STYLE TAB TOOLBAR -------------------------------- */

#titlebar {
	--proton-tab-block-margin: 0px !important;
	--tab-block-margin: 0px !important;
}

.tabbrowser-tab {
	border: none !important;
	height: var(--tab-min-height) !important;
	font-size: 14px !important;
}

.tabbrowser-tab[selected] {
	border: none !important;
	height: var(--tab-min-height) !important;
	font-size: 14px !important;
	background-color:#222124!important;
}

.tabbrowser-tab[fadein]:not([pinned]) {
	max-width: 100vw !important;
	padding-left: 0 !important;
	padding-inline: 0px !important;
}

.tabbrowser-tab::after {
	visibility: hidden !important;
}

.tab-line[selected="true"] {
	height: 0px !important;
}

.tab-background[selected] {
	background-image: none !important;
    background-color:#222124;
}

.tabbrowser-tab:not([selected]) {
	font-size: 14px !important;
	color: #eeeeee !important; /* Change this to a dark color if using a light theme */
	background-color: #404552!important; /* Might want to disable that if not using FF's dark theme */
}

.tab-icon-image {
	width: 16px !important;
	height: 16px !important;
}

.tab:not([selected]) .tab-icon-image {
       width: 20px !important;       
       height: 20px !important;
}



/* hide private browsing indicator */
#private-browsing-indicator-with-label {
	display: none;
}

/* --- AUTOHIDE NAVBAR ---------------------------------- */

/* hide navbar unless focused */
#nav-bar {
	min-height: 0 !important;
	max-height: 0 !important;
	height: 0 !important;
	--moz-transform: scaleY(0) !important;
	transform: scaleY(0) !important;
}

/* show on focus */
#nav-bar:focus-within {
	--moz-transform: scale(1) !important;
	transform: scale(1) !important;
	max-height: var(--urlbar-height-setting) !important;
	height: var(--urlbar-height-setting) !important;
	min-height: var(--urlbar-height-setting) !important;
}

#navigator-toolbox:focus-within > .browser-toolbar {
	transform: translateY(0);
	opacity: 1;
}

/* new ;dsafj;ldsajfads*/
/* Hide close button on tabs */
#tabbrowser-tabs .tabbrowser-tab .tab-close-button { display: none !important; }

/* .tab-icon-stack:not([pinned]) { display: none !important; } */

.tabbrowser-tab {
	/* remove border between tabs */
	padding-inline: 0px !important;
	/* reduce fade effect of tab text */
	--tab-label-mask-size: 1em !important;
	/* fix pinned tab behaviour on overflow */
	overflow-clip-margin: 0px !important;
}

/* remove titlebar spacers */
.titlebar-spacer { display: none !important; }

/* disable tab shadow */
#tabbrowser-tabs:not([noshadowfortests]) .tab-background:is([selected], [multiselected]) {
    box-shadow: none !important;
}

/* remove dark space between pinned tab and first non-pinned tab */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) >
#tabbrowser-arrowscrollbox >
.tabbrowser-tab[first-visible-unpinned-tab] {
	margin-inline-start: 0px !important;
}

/* remove dropdown menu button which displays all tabs on overflow */
#alltabs-button { display: none !important }

/* fix displaying of pinned tabs on overflow */
#tabbrowser-tabs:not([secondarytext-unsupported]) .tab-label-container {
	height: var(--tab-min-height) !important;
}

/* remove new tab button */
#tabs-newtab-button {
	display: none !important;
}

/* remove firefox view */
#firefox-view-button { display: none !important; }
#tabbrowser-tabs {
	border-inline-start: 0 !important;
	padding-inline-start: 0 !important;
	margin-inline-start: 0 !important;
}
#window-controls { display:none!important; }
.titlebar-buttonbox-container{ display:none }
