* {
  background:       #0c0d0ecc;
  background-alt:   #141c21;
  transparent:      #00000000;
  foreground:       #d3e1e1;
  foreground-alt:  #737171;
  urgent:               #8ccf7e;
  selected:              #e57474;
  active:         #67b0e8;
}
